{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'home.css' %}">
 {% endblock %}

<h5 style="padding: 5px;">Posts:</h5>

{% for post in posts %}
    <div class="posts-container"> 
        <div class="post">
            <a href="{% url 'post' post.slug %}">
                <h5>Title: {{ post.Title }}</h5>
                <p>Content: {{ post.Content }}</p>
            </a>
        </div>
    </div>
{% endfor %}

<a href="{% url 'new-post' %}" class="new-post-link">new post</a>


<div style="position: absolute;right: 20%; bottom: 2%;">

    {% if posts.has_previous %}

    <a href="?page={{venues.previous_page_number }}">previous</a>

    {% endif %}

    Page {{ posts.number }} of {{ posts.paginator.num_pages }}

    {% if posts.has_next %}

    <a href="?page={{ posts.next_page_number }}">next</a>

    {% endif %}

</div>

{% endblock %}