{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'profile.css' %}">
 {% endblock %}

<h5 style="padding: 3px;">Profile:</h5>
<h6>Username : {{ users.username }}</h6>
<h6>Bio : {{ user_profile_details.bio }}</h6>

{% if users.id == request.user.id%}
<button class="update-profile"><a href="{% url 'update-profile' users.id %}"> Update Profile</a> </button> <br>
{% endif %}


<h5>posts:</h5>

{% for post in posts %}
    <div class="posts-container"> 
        <div class="post">
            <a href="{% url 'post' post.slug %}">
                <h5>Title: {{ post.Title }}</h5>
                <p>Content: {{ post.Content }}</p>
            </a>
        </div>
    </div>
{% endfor %}

{% endblock %}